Django==2.2.12
django-allauth==0.39.1
django-ckeditor==5.9.0
django-countries==5.3.3
django-debug-toolbar==1.10.1
django-geoposition==0.3.0
django-geoposition-2==0.3.6
django-js-asset==1.2.2
djangorestframework==3.11.0
oauthlib==3.0.1
Pillow==6.0.0
python-decouple==3.1
requests==2.21.0
requests-oauthlib==1.2.0
stripe==2.45.0
