{% load staticfiles %}{% load i18n %}<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>TARANTELLA PIZZA & BURGUER | SITE OFICIAL</title>
<meta charset="UTF-8" />
<!-- Ta xeretando nosso código né? Pelo jeito você é um desenvolvedor Front-end e/ou Back-end.
Entre em contado conosco e envie no e-mail o código INSINUANTE para novas oportunidades -->
<meta name="description" content="TARANTELLA PIZZA & BURGUER | SITE OFICIAL"/>
<meta name="keywords" content="pizza" />
<meta name="author" content="Sancley Alhadef">
<meta name="Empresa" content="Wings Design - www.wingsdesign.com.br">
<meta name="Email" content="contato@wingsdesign.com.br">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font-pizzaro.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/red.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" media="all" />
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CYanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'images/fav-icon.png' %}">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Favicon and touch icons -->
<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
{% block css %}{% endblock %}
</head>
<body class="page-template-template-homepage-v1 home-v1 single-product">{% block base %}{% endblock %}
<!-- Javascript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/social.share.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.min.js' %}"></script>
</div>
</body>
</html>
