{% extends "base.html" %}{% load staticfiles %}{% block base %}

               <!-- AQUI MODEL FILTER -->
               <div class="section-products">
                  <h2 class="section-title">FAÇA AGORA MESMO SEU PEDIDO</h2>
                  <div class="columns-4">
                     <ul class="products">
                        {% for item in base_filter_item %}
                        <li class="product">
                           <div class="product-outer">
                              <div class="product-inner">
                                 <div class="product-image-wrapper">
                                    <a href="{{ item.get_absolute_url }}" class="woocommerce-LoopProduct-link">
                                    <img src="{{ item.image.url }}" class="img-responsive" alt="">
                                    </a>
                                 </div>
                                 <div class="product-content-wrapper">
                                    <a href="{{ item.get_absolute_url }}" class="woocommerce-LoopProduct-link">
                                       <h3>{{ item.title|upper }}</h3>
                                       <div itemprop="description">
                                          <p style="max-height: none;">{{item.description|safe}}</p>
                                       </div>
                                       <div class="yith_wapo_groups_container">
                                          <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                             <h3><span>TAMANHO</span></h3>
                                             <div class="ywapo_input_container ywapo_input_container_radio">


                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">{{item.tamanho.nome}}</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R$</span>{{ item.price }}<span class="woocommerce-Price-currencySymbol"></span></span></span>
                                             </div> 
                                          </div>
                                       </div>
                                    </a>
                                    <div class="hover-area">
                                       <a rel="nofollow" href="{{ item.get_absolute_url }}" class="button product_type_simple add_to_cart_button ajax_add_to_cart">EU QUERO!</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
               
{% endblock %}